.navbar {
  background-color: #ffffff33;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 80%;
  max-width: 800px;
}

.logo {
  height: 40px;
}

.logo-name {
  font-size: 24px;
  font-weight: 500;
}

.scoreBar {
  display: flex;
  margin: 0px auto;
  font-weight: 500;
}

.score {
  font-size: 18px;
  margin-right: 20px;
}

.topScore {
  font-size: 18px;

  margin-right: 20px;
}
